/*** BASE STYLES ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-colour: #23223a;
  --border-color: #000000;
  --bg-colour: #fffbd6;
  --secondary-bg-colour: #d9d7ff;
  --accent-colour: #6d255f;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
}

h1 {
  color: var(--text-colour);
  font-family: "Libre Baskerville", serif;
  font-size: 2.8rem;
  text-align: center;
  /* font-weight: 500; */
}

a {
  color: var(--accent-colour);
}

/*** LAYOUT ***/

/* Header */

header {
  margin: 1.5rem 1rem 0.5rem;
}

/* Main */

main {
  margin: 1rem;
}

/* Footer */

footer {
  margin: 3rem 5rem;
}

footer p {
  font-size: 1.1rem;
  font-weight: 500;
  border-top: 1.5px solid var(--text-colour);
  padding: 0.5rem;
  text-align: center;
}

/*** COMPONENTS ***/

/* Form */

.form-group {
  margin: 0 auto;
  max-width: fit-content;
}

.submit-button,
.user-input {
  font-size: 0.9rem;
  margin: 0.5rem auto 2rem;
  padding: 0.2rem;
}

.user-input {
  background: none;
  border-color: var(--text-colour);
  border-style: none none solid;
  font-family: "Jost", sans-serif;
}

.user-input:focus-visible {
  outline: 2px dashed #3d3d3d;
  outline-offset: 5px;
}

.submit-button {
  background-color: var(--secondary-bg-colour);
  border-radius: 0;
  border: 2px solid var(--text-colour);
  font-family: "Jost", sans-serif;
}

.submit-button:hover {
  cursor: pointer;
}

/* Output */

.poem {
  font-size: 1.2rem;
  background-color: var(--bg-colour);
  padding: 0.5rem 1rem 1.2rem;
  margin: 0 auto;
  /* margin-left: 2.5rem; */
  max-width: fit-content;
}

/*** RESPONSIVE BREAKPOINTS ***/
