/*** BASE STYLES ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-colour: #420f39;
  --border-colour: #667271;
  --bg-colour: #eef8f6;
  --secondary-bg-colour: #c8d9d0;
  --accent-colour: #a71f90;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
}

h1 {
  color: var(--text-colour);
  font-family: "Libre Baskerville", serif;
  font-size: 2.8rem;
  text-align: left;
  margin-left: 3rem;
  /* font-weight: 500; */
}

a {
  color: var(--accent-colour);
  text-decoration: underline var(--accent-colour) solid 1px;
}

/*** LAYOUT ***/

.bg-box {
  background-color: var(--bg-colour);
  position: absolute;
  z-index: -1;
  width: auto;
  height: auto;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  bottom: 10rem;
}

/* Header */

header {
  margin: 1.5rem 3rem 0.5rem 0;
  border-bottom: 1.5px solid var(--border-colour);
}

/* Main */

main {
  margin: 1.5rem 3rem;
}

/* Footer */

footer {
  border-top: 1.5px solid var(--border-colour);
  margin: 5rem 0 3rem 3rem;
}

footer p {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.3;
  padding: 0.5rem 3rem;
  text-align: right;
}

/*** COMPONENTS ***/

/* Form */

.form-group {
  margin: 0 0 1rem auto;
  max-width: fit-content;
}

.submit-button,
.user-input {
  font-size: 0.9rem;
  margin: 0.5rem auto 2rem;
  padding: 0.2rem;
  border-style: none none solid;
  border-width: 1.5px;
  border-color: var(--border-colour);
  font-family: "Jost", sans-serif;
}

.user-input {
  background: none;
}

.user-input:focus-visible {
  outline: 1.5px dashed var(--border-colour);
  outline-offset: 5px;
}

.submit-button {
  background-color: var(--secondary-bg-colour);
  border-radius: 0;
  font-style: normal;
  line-height: 1.45; /*line height set to avoid content shift on hover*/
  width: 3.8rem;
}

.submit-button:hover {
  cursor: pointer;
  font-family: "EB Garamond", serif;
  font-style: italic;
}

/* Output */

.poem {
  font-size: 1.2rem;
  background-color: var(--secondary-bg-colour);
  padding: 0.5rem 1rem 1.2rem;
  margin: 0 auto 0 0;
  /* margin-left: 2.5rem; */
  max-width: fit-content;
}

/*** RESPONSIVE BREAKPOINTS ***/
